In [1]:
import numpy as np

In [3]:
pip install numpy-financial

Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in ./miniconda3/lib/python3.9/site-packages (from numpy-financial) (1.22.3)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy_financial as npf
npf.irr([-250000, 100000, 150000, 200000, 250000, 300000])

0.5672303344358536

In [3]:
npf.pmt(0.085/12, 12*12, 100000)

-1110.0555643145096

## monthly payment of an loan
calculate how much you have to pay monthly to pay back a loan of 10.000 in 5 years. The yearly interest rate is 6%, and is calculated monthly.

In [6]:
import pandas as pd
df = pd.DataFrame({'Obs':[1]})
df['rate'] = 0.06/12
df['nper'] = 60
df['pv'] = 10000
df['fv'] = 0

df['pmt'] = npf.pmt(df.rate, df.nper, df.pv, df.fv)
df

   Obs   rate  nper     pv  fv         pmt
0    1  0.005    60  10000   0 -193.328015

## Computing the future value of an investment

In [7]:
df = pd.DataFrame({'Obs':[1]})
df['rate'] = 0.06/12
df['nper'] = 60
df['pmt'] = -200
df['pv'] = 10000
df['fv'] = npf.fv(df.rate, df.nper, df.pmt, df.pv)
df

   Obs   rate  nper  pmt     pv          fv
0    1  0.005    60 -200  10000  465.504576

In [12]:
# without dataframe
rate = 0.06/12
nper = 60
pmt= -200
pv = 10000

fv = npf.fv(rate,nper,pmt,pv)
fv

465.50457647922485

## Computing the present value of an investment
find out what is left of the loan of 10.000 if you pay 200 per month over the next 60 month.

The yearly interest rate is 6% per year, and is calculated monthly.

In [10]:
df = pd.DataFrame({'Obs':[1]})
df['rate'] = 0.06/12
df['nper'] = 12*5
df['pmt'] = -200
df['fv'] = 0
df['pv'] = npf.pv(df.rate, df.nper, df.pmt, df.fv)
df

   Obs   rate  nper  pmt  fv           pv
0    1  0.005    60 -200   0  10345.11215

## Computing the number of periodic payments we have to make
What about the number of payments you need to make to pay back 10.000 with 200 per month?

In [13]:
df = pd.DataFrame({'Obs':[1]})
df['rate'] = 0.06/12
df['pmt'] = -200
df['pv'] = 10000
df['fv'] = 0

df['nper'] = npf.nper(df.rate, df.pmt, df.pv, df.fv)
df

   Obs   rate  pmt     pv  fv       nper
0    1  0.005 -200  10000   0  57.680136

## What is the annual interest?

Now we want to look at the yearly interest rate when you pay back a loan of 10,000 with 60 monthly payments of 200.

In [14]:
df = pd.DataFrame({'Obs':[1]})
df['nper'] = 60
df['pmt'] = -200
df['pv'] = 10000
df['fv'] = 0

df['rate'] = npf.rate(df.nper, df.pmt, df.pv, df.fv) * 12
df

   Obs  nper  pmt     pv  fv      rate
0    1    60 -200  10000   0  0.074201

## Calculating the principal payment amount
If you want to know how much principal you would pay each month, you can use the ppmt method.

In [15]:
df = pd.DataFrame()
df['period'] = range(1, 61)
df['rate'] = 0.06/12
df['nper'] = 60
df['pv'] = 10000
df['fv'] = 0
df['ppmt'] = npf.ppmt(df.rate, df.period, df.nper, df.pv, df.fv)
df

    period   rate  nper     pv  fv        ppmt
0        1  0.005    60  10000   0 -143.328015
1        2  0.005    60  10000   0 -144.044655
2        3  0.005    60  10000   0 -144.764879
3        4  0.005    60  10000   0 -145.488703
4        5  0.005    60  10000   0 -146.216147
5        6  0.005    60  10000   0 -146.947227
6        7  0.005    60  10000   0 -147.681963
7        8  0.005    60  10000   0 -148.420373
8        9  0.005    60  10000   0 -149.162475
9       10  0.005    60  10000   0 -149.908287
10      11  0.005    60  10000   0 -150.657829
11      12  0.005    60  10000   0 -151.411118
12      13  0.005    60  10000   0 -152.168174
13      14  0.005    60  10000   0 -152.929015
14      15  0.005    60  10000   0 -153.693660
15      16  0.005    60  10000   0 -154.462128
16      17  0.005    60  10000   0 -155.234439
17      18  0.005    60  10000   0 -156.010611
18      19  0.005    60  10000   0 -156.790664
19      20  0.005    60  10000   0 -157.574617
20      21  0.005    60  10000   0 -158.362490
21      22  0.005    60  10000   0 -159.154303
22      23  0.005    60  10000   0 -159.950074
23      24  0.005    60  10000   0 -160.749825
24      25  0.005    60  10000   0 -161.553574
25      26  0.005    60  10000   0 -162.361342
26      27  0.005    60  10000   0 -163.173148
27      28  0.005    60  10000   0 -163.989014
28      29  0.005    60  10000   0 -164.808959
29      30  0.005    60  10000   0 -165.633004
30      31  0.005    60  10000   0 -166.461169
31      32  0.005    60  10000   0 -167.293475
32      33  0.005    60  10000   0 -168.129942
33      34  0.005    60  10000   0 -168.970592
34      35  0.005    60  10000   0 -169.815445
35      36  0.005    60  10000   0 -170.664522
36      37  0.005    60  10000   0 -171.517845
37      38  0.005    60  10000   0 -172.375434
38      39  0.005    60  10000   0 -173.237311
39      40  0.005    60  10000   0 -174.103498
40      41  0.005    60  10000   0 -174.974015
41      42  0.005    60  10000   0 -175.848885
42      43  0.005    60  10000   0 -176.728129
43      44  0.005    60  10000   0 -177.611770
44      45  0.005    60  10000   0 -178.499829
45      46  0.005    60  10000   0 -179.392328
46      47  0.005    60  10000   0 -180.289290
47      48  0.005    60  10000   0 -181.190736
48      49  0.005    60  10000   0 -182.096690
49      50  0.005    60  10000   0 -183.007173
50      51  0.005    60  10000   0 -183.922209
51      52  0.005    60  10000   0 -184.841820
52      53  0.005    60  10000   0 -185.766029
53      54  0.005    60  10000   0 -186.694860
54      55  0.005    60  10000   0 -187.628334
55      56  0.005    60  10000   0 -188.566475
56      57  0.005    60  10000   0 -189.509308
57      58  0.005    60  10000   0 -190.456854
58      59  0.005    60  10000   0 -191.409139
59      60  0.005    60  10000   0 -192.366184

## The effective annual interest rate

There are other financial calculations we can do.

The first is how to calculate the effective interest rate if you are charged monthly interest.

In [16]:
rate = 0.06
nper = 12
effect = (1 + rate/nper)**nper - 1

print('The effective interest rate is: ', effect)

The effective interest rate is:  0.06167781186449828

In [17]:
df = pd.DataFrame({'Obs':[1]})
df['rate'] = rate
df['nper'] = nper
df['effect'] = (1 + df.rate/df.nper)**df.nper - 1
df

   Obs  rate  nper    effect
0    1  0.06    12  0.061678

## Computing the internal rate of return for a series of cash flows

There are other useful calculations you can use in finance. Internal rate of return is one of them.
In this example, you invest 40.000 and receive four payment in return. The function returns the IRR of this investment.

In [19]:
df = pd.DataFrame()
df['cashflow'] = [-40000, 5000, 8000, 12000, 30000]
df['irr'] = npf.irr(df['cashflow'])
df

   cashflow       irr
0    -40000  0.105823
1      5000  0.105823
2      8000  0.105823
3     12000  0.105823
4     30000  0.105823

In [20]:
# senza dataframe
irr = npf.irr(df['cashflow'])
irr

0.10582259840890185

In [21]:
# senza dataframe
npf.irr([-40000,5000,8000,12000,30000])

0.10582259840890185

## Calculating the net present value

This is a very interesting formula. For many years the explanations of how to use this formula have been wrong in both SAS and Excel.

When you calculate a net, you have to deduct something. But that is not explained in the documentations of SAS and Microsoft. So the function is not calculating npv.

You have to add a deduction to get the right result. In Python, every thing is calculated correctly from the beginning.

In [22]:
df = pd.DataFrame()
df['values'] = [-40000, 5000, 8000, 12000, 30000]
df['rate'] = 0.08
df['npv'] = npf.npv(df['rate'],df['values'])
df

   values  rate          npv
0  -40000  0.08  3065.222668
1    5000  0.08  3065.222668
2    8000  0.08  3065.222668
3   12000  0.08  3065.222668
4   30000  0.08  3065.222668

In [23]:
5000/(1+0.08)**1 + 8000/(1+0.08)**2 + 12000/(1+0.08)**3 + 30000/(1+0.08)**4 - 40000

3065.222668179529

In [25]:
# This last example shows how to separate the two values, investment and cashflow. 
# If you have the values in each list, you can add the two list's in the function as investment+cashflow
rate = 0.08
investment = [-40000]
cashflow = [5000, 8000, 12000, 30000]
npf.npv(rate,investment+cashflow)

3065.2226681795255